extends shared/layout

block content

  //include forms
  div
    div.container
        br
        if messages.errors.length != 0
            div.callout.alert(data-closable)
                ul
                    each message in messages.errors
                            li #{message}
                button.close-button(data-close, aria-label="Dismiss alert", type="button")
                        span(aria-hidden="true") &times;
        if messages.info.length != 0
            div.callout.success(data-closable)
                ul
                    each message in messages.info
                            li #{message}
                button.close-button(data-close, aria-label="Dismiss success", type="button")
                        span(aria-hidden="true") &times;
    div.grid-x.grid-padding-x
        div.cell.medium-6.float-center
            h4.sub-heading Leave us a message here!
            form(name="contact", method="post", action="/contact")
                div.grid-x.grid-padding-x
                    div.cell.medium-6
                        label First Name
                            input(type="text", placeholder="", name="firstname", required)
                    div.cell.medium-6
                        label Last Name
                            input(type="text", placeholder="", name="lastname", required)
                    div.cell
                        label Email
                            input(type="email", placeholder="", name="email", required)
                    div.cell
                        label Confirm Email
                            input(type="email", placeholder="", name="emailConfirm", required)
                    div.cell
                        label Message
                            textarea(placeholder="", name="message", rows="6", required)
                    div.cell
                        input(type="submit", name="submit" value="Submit").button.hollow
        div.cell.medium-3.float-center
            h4.sub-heading ...or on our social media!
