extends shared/layout

block content
    div
        h2.heading WE ARE OMNIQUE!
        hr
        p Bespoke gifts and merchandise at an affordable price; from crochet to glassware to apparel. Tailored to your needs!
    div.grid-x
        div.cell.small-12.medium-6.float-center.orbit(role='region', aria-label='slide-images', data-orbit)
            div.orbit-wrapper
                div.orbit-controls
                    button.orbit-previous
                        span.show-for-sr Previous Slide
                        | &#9664;&#xFE0E;
                    button.orbit-next
                        span.show-for-sr Next Slide
                        | &#9654;&#xFE0E;
                ul.orbit-container
                    each element, index in carousel
                        li.orbit-slide( class= index == 0 ? "is-active" : "" )
                            figure.orbit-figure
                                img.orbit-image( src="images/general/"+element.image )
                                figcaption.orbit-caption= element.caption
            nav.orbit-bullets
                each element, index in carousel
                    button( class= index == 0 ? "is-active" : "" data-slide= index)
    // grid of three cards, collapse into column on mobile
    div.grid-container
        div.grid-x.grid-margin-x.small-up-1.medium-up-3
            each card in cards
                include shared/card
    div.grid-container
        div.grid-x.grid-padding-x
            each element, index in info
                div.home-info.cell.grid-x.grid-padding-x
                    div.cell.small-12.medium-3
                        img.thumbnail( src="images/general/"+element.image )
                    div.cell.small-12.medium-9
                        h4 #{element.caption}
                        p #{element.text}
