extends shared/layout

block content
    - var imageNum = product.images.length;
    div.grid-x.grid-padding-x
        div.cell.small-12.medium-5.product-details
            div.cell
                h3.heading #{product.name}
            div.cell
                span #{product.price}
            div.cell
                span #{product.description}
        div.cell.small-12.medium-7
            div.grid-x
                div.cell.small-9.medium-8.align-left
                    div.cell.product-image-main
                        img(src="/images/products/"+product.images[0] )           
                div.cell.small-3.medium-4
                    div.grid-y.product-image-list
                        each image in product.images
                            div.cell.product-image-small
                                img(src="/images/products/"+image )