@font-face {
    font-family: 'Oswald';
    src: url("../font/Oswald-Regular.ttf") format("truetype"), local('Oswald');
}

html, body {
    min-height: 100vh;
}

.hero-section {  
    background-color: #0f1231;
    height: 25vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.coming-soon {
    background-color: #0f1231;
    height: 100vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.coming-soon-section .coming-soon-text {
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 4rem;
    font-family: "Oswald";
    letter-spacing: 6px;
    color: #ffffff;
    text-shadow: 2px 2px #404040;
}

.fas {
    color: white;
    font-size: 5rem;
}

.coming-soon-subtext {
    font-size: 1.5rem;
    font-family: "Oswald";
    color: #ffffff;
    text-shadow: 2px 2px #404040;
}

.particles-js-canvas-el {
    position: absolute;
    height: inherit !important;
}

.hero-section .hero-section-text {
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 32pt;
    font-family: "Oswald";
    letter-spacing: 6px;
    color: #ffffff;
    text-shadow: 2px 2px #404040;
}

.full-hero {
    background-color: #3a3d5c;
    height: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.heading {
    font-family: "Oswald";
    color: #1b0036;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.sub-heading {
    font-family: "Oswald";
    color: #1b0036;
    padding: 10px;
}

textarea {
    resize: none;
}

.product-card {
    border: none;
}

.product-title {
    padding-top: 5px;
    padding-bottom: 5px;
}

.product-price {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.product-label {
    border-radius: 5px;
    margin-left: 5px;
}

.product-label-etsy {
    background-color: #fecf84;
    color: black;
}

.product-label-featured {
    background-color: green;
}

.product-details {
    padding: 20px 20px 20px 20px !important;
}

.product-image-main img {
    border-radius: 5px;
    max-height: 40vh;
}

.product-image-small {
    padding: 0px 5px 5px 5px;
}

.product-image-small img {
    border-radius: 5px;
    max-height: 150px !important;
}

.product-image-small:hover {
    opacity: 0.8;
}

.product-image-list {
    overflow-y: auto;
    max-height: 40vh;
    max-width: 150px;
}

.product-heading {
    font-size: 2rem;
    display:inline;
}

.product-price {
    font-weight: bold;
}

.product-description {
    color: rgba(0,0,0,0.5);
}

.product-description-etsy {
    color: rgba(0,0,0,0.8);
    font-size: 0.9rem;
}

.card-image {
    border-radius: 5px;
}

.home-card {
    border-radius: 5px;
    border-color: rgba(0,0,0,0.4);
}

.home-card-header {
    background-color: rgba(222, 173, 75, 0.7);
}

.home-card-text {
    color: rgba(0,0,0,0.6);
}

.home-section-header {

}

.home-section-text {
    color: rgba(0,0,0,0.6);
}

.home-section-image img {
    border-radius: 5px;
}

.home-info {
    width:95%;
    padding: 10px 0px 10px 0px !important;
    border-right: 2px solid rgba(0,0,0,0.1);
    border-left: 2px solid rgba(0,0,0,0.1);
}

.home-info:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 2px solid rgba(0,0,0,0.1);
}

.home-info:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.home-info.even {
    background-color: rgba(222, 173, 75, 0.1);
}

.etsy {
}

.featured {
    
}

.footer {
    clear: both;
    width: 100%;
    height: 6rem;
    background-color: #0f1231;
    padding: 2rem;
    position: absolute;
    bottom: 0;
}

.full-container {
    position: relative;
    min-height: 100vh;
}

#content {
    padding-top: 2rem;
    padding-bottom: 8rem;
}

.footer-text {
    color: white;
}

.footer-social a {
    color: white;
    padding: 0px 5px 0px 5px;
}

.top-bar {
    border-top: solid 10px #c99326;
    padding-bottom: 10px;
}

.top-bar, .top-bar ul {
    background-color: #dead4b;
    font-family: "Oswald";
    font-size: 1.2em;
}

.top-bar a {
    color: #1a1a1a;
}

.top-bar a:hover {
    color: #2a3c6f;
}

.button.hollow {
    border-radius: 8px;
    border-color: #1c284a;
    color: #1c284a;
}

.padding-10 {
    padding: 10px;
}

.margin-10 {
    margin: 10px;
}