div.cell
    div.card.home-card(data-equalizer-watch)
        div.card-divider.home-card-header
            h4.heading= card.heading
        div.card-section.home-card-text
            p= card.description