doctype html
html
  head
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css', integrity='sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=', crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css')
    script(src='https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js', integrity='sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js')
    script(src='https://kit.fontawesome.com/ec7b5b425d.js')
    script(src='/js/main.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    div.full-container
        div#particles-js.hero-section
            h1.hero-section-text #{title}
        include nav
        div#content.grid-container(data-sticky-container)
            block content

        footer.footer
            div.footer-text.grid-x
                div.cell.medium-6.text-center.footer-social
                    a(href="https://www.facebook.com/omnique.designs", target="_blank")
                        i.fab.fa-facebook-square.fa-2x
                    a(href="https://www.instagram.com/omnique.designs", target="_blank")
                        i.fab.fa-instagram-square.fa-2x
                div.cell.medium-6.text-center
                    span &copy; 2020 Omnique

    script.
        particlesJS.load('particles-js', '/res/particles.json');
    script.
        $(document).foundation();